@import "tailwindcss";




body {
  @apply min-h-screen bg-gradient-to-br from-[#0b0a15] via-[#24164d] to-black text-white;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
 
  scrollbar-width: none;
  
}